// Font
$font_sans: 'Inter';
$font_size: 14px;
$font_weight: 400;
$font_style: normal;

// Text
$text_decoration: none;
$text_transform: none;

// Line
$line_height: 1.2;

// List
$list_style: none;

// Colors
$white: #ffffff;
$light_grey: #8B7F7F;
$grey: #4A4341;
$dark_grey: #1F1714;
$black_grey: #0F0B0A;
$gradient: linear-gradient(90deg, #FA9E13 0.1%, #FFC701 99.92%);