section.payment {
  div.payment-inner {
    margin: 0 0 5vh 0;
    padding: 10vh 10%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    div.mask {
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 50%;
      opacity: .2;
      background: url('images/Backgrounds/HomeMask.png');
    }

    div.blur {
      position: absolute;
      top: 40%;
      right: 95%;
      width: 30%;
      height: 30%;
      opacity: 0.8;
      background: var(--Gradiant, linear-gradient(90deg, #FA9E13 0.1%, #FFC701 99.92%));
      filter: blur(110px);
    }

    div.payment__header {
      z-index: 100;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 10px;

      h2 {
        color: #FFF;
        text-align: center;

        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 44px;
        letter-spacing: -0.72px;
        margin-top: 10px;
      }

      p {
        max-width: 80%;
        color: #8B7F7F;
        text-align: center;

        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
      }
    }

    div.payment__body {
      display: flex;
      justify-content: start;
      align-items: center;
      margin-top: 8vh;
      gap: 0 30px;

      div.payment-item {
        z-index: 1;
        background: #0F0B0A;
        border-radius: 10px;
        padding: var(--spacing-7xl, 64px) var(--spacing-4xl, 32px) 32px var(--spacing-4xl, 32px);
        gap: var(--spacing-2xl, 20px);
        align-self: stretch;

        flex: 0 0 33.33%;
        max-width: 33.33%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        border: 1px solid $grey;

        &.active {
          background: var(--Gradiant, linear-gradient(90deg, #FA9E13 0.1%, #FFC701 99.92%));
          div.payment-item-body {
            h6 {
              color: #1F1714;
              font-size: 20px;
              span {
                display: inline-flex;
                padding: var(--spacing-xs, 4px) var(--spacing-lg, 12px);
                align-items: center;
                justify-content: center;
                border-radius: var(--radius-full, 9999px);
                background: #1F1714;
                color: #FFF;
                text-align: center;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 20px;
              }
            }

            h2 {
              color: #1F1714;
            }
          }

          div.payment-item-footer {
            p {
              color: #1F1714;
            }
          }
        }

        div.payment-item-body {
          h6 {
            color: #8B7F7F;
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 30px;
          }

          h2 {
            color: #FFF;

            text-align: center;
            font-size: 38px;
            font-style: normal;
            font-weight: 600;
            line-height: 60px;
            letter-spacing: -0.96px;
            &:nth-child(2) {
              font-size: 32px;
            }
          }

          small {
            color: rgb(85, 85, 85);
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: bold;
            line-height: 12px;
          }
        }

        div.payment-item-footer {
          p {
            margin-top: 20px;
            color: #FFF;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px; /* 142.857% */
          }
        }
      }
    }

    ul.payment-item-infos {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 0 30px;

      &.white {
        li {
          color: #fefefe;
        }
      }

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 10px;
        color: $dark_grey;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
      }
    }
  }
}
