@import 'slider';
section.features {
  div.features-inner {
    margin: 0 0 2vh 0;
    div.features__header {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h2 {
        color: #FFF;
        text-align: center;

        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 44px;
        letter-spacing: -0.72px;
        margin-top: 10px;
      }
      p {
        max-width: 60%;
        color: #8B7F7F;
        text-align: center;

        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
      }
    }
  }
}