
.main {
  background: url('../images/grid/GridMask.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 75%;

  &.right {
    background: url('../images/grid/GridMaskBis.svg');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 45%;
    background-origin: border-box;
  }
  &.left {
    background: url('../images/grid/GridMaskTer.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 45%;
  }
}
