@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@400;700&display=swap");
*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  color: #ffffff;
  background: #0F0B0A;
  line-height: 1.2;
  text-decoration: none;
  text-transform: none;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

.main {
  background: url("../images/grid/GridMask.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 85%;
}
.main.right {
  background: url("../images/grid/GridMaskBis.svg");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 45%;
  background-origin: border-box;
}
.main.left {
  background: url("../images/grid/GridMaskTer.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 45%;
}

header nav.navbar {
  width: 100vw;
  z-index: 10000;
  position: fixed;
  backdrop-filter: blur(4px);
  top: 0;
  right: 0;
  left: 0;
  height: 91px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-2xl, 20px) var(--container-padding-desktop, 32px);
}
header nav.navbar.burger ul.navbar-links, header nav.navbar.burger div {
  flex-direction: column;
}
header nav.navbar div.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
header nav.navbar div.navbar-header div.navbar-brand {
  flex: 0 0 15%;
  max-width: 15%;
}
header nav.navbar div.navbar-header div.navbar-brand a img {
  width: 48px;
  height: 48px;
  transition: 0.8s;
}
header nav.navbar div.navbar-header div.navbar-brand a img:hover {
  transform: rotate(360deg);
}
header nav.navbar div.navbar-header .navbar-links {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
header nav.navbar div.navbar-header .navbar-links li a {
  text-transform: capitalize;
  color: #8B7F7F;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  transition: 0.2s;
}
header nav.navbar div.navbar-header .navbar-links li a:hover {
  color: #ffffff;
}
header nav.navbar a.navbar-burger {
  display: none;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-sm, 6px);
  border-radius: var(--radius-md, 8px);
  border: 2px solid var(--Gradiant, #FA9E13);
}
header nav.navbar div.navbar-button {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 40%;
  max-width: 40%;
}
header div.fake-navbar {
  display: block;
  height: 91px;
  width: 100%;
}
header .all-nav {
  display: none;
}
header.burger nav.navbar {
  background: #0F0B0A;
}
header.burger nav.navbar ul.navbar-links {
  display: none;
}
header.burger nav.navbar div.navbar-button {
  display: none;
}
header.burger nav.navbar a.navbar-burger {
  display: flex;
}
header.burger div.all-nav {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #0F0B0A;
  display: flex;
  transform: translateX(100%);
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5vh 0;
  transition: 0.4s;
}
header.burger div.all-nav.show {
  transform: translateX(0);
}
header.burger div.all-nav .all-nav-inner ul {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
header.burger div.all-nav .all-nav-inner ul li a {
  text-transform: capitalize;
  color: #8B7F7F;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  transition: 0.2s;
  line-height: 1.8;
}
header.burger div.all-nav .all-nav-inner ul li a:hover {
  color: #ffffff;
}

section.home div.home-inner {
  background: url("images/Backgrounds/HomeMask.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  min-height: 65vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
section.home div.home-inner div.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.home div.home-inner div.home-container div.mini-buttons-container {
  margin-bottom: 20px;
}
section.home div.home-inner div.home-container div.mini-buttons-container span {
  margin-right: 5px;
}
section.home div.home-inner div.home-container h1 {
  color: #FFF;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -1.2px;
  gap: var(--spacing-xl, 16px);
  padding: var(--spacing-none, 0px);
  margin-bottom: 10px;
}
section.home div.home-inner div.home-container h1 span {
  background: linear-gradient(267deg, #FFB710 8.95%, #FFC301 8.95%, #FFA722 96.63%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
section.home div.home-inner div.home-container p {
  margin: var(--spacing-3xl, 24px) auto;
  width: 50%;
  color: #8B7F7F;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.4px;
}

section.section.phone div.phone-inner {
  height: 110vh;
  padding: 5vh 0;
}
section.section.phone div.phone-inner div.phone-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.section.phone div.phone-inner div.phone-container div.coin1 {
  z-index: 1;
  transform: translateX(35vh);
}
section.section.phone div.phone-inner div.phone-container div.coin1 img {
  position: relative;
}
section.section.phone div.phone-inner div.phone-container div.phone {
  z-index: 100;
  position: relative;
}
section.section.phone div.phone-inner div.phone-container div.phone img {
  display: inline-block;
  width: 100vh;
  height: auto;
  max-width: 1000px;
  max-height: 600px;
}
section.section.phone div.phone-inner div.phone-container div.phone div.mask {
  z-index: -1;
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  opacity: 0.9;
  background: var(--Gradiant, linear-gradient(90deg, #FA9E13 0.1%, #FFC701 99.92%));
  filter: blur(130px);
}
section.section.phone div.phone-inner div.phone-container div.coin2 {
  z-index: 1;
  transform: translateX(-40vh);
}
section.section.phone div.phone-inner div.phone-container div.coin2 img {
  position: relative;
}

@keyframes top-bottom-right {
  0%, 100% {
    transform: translateX(35vh) translateY(10%);
  }
  50% {
    transform: translateX(35vh) translateY(-10%);
  }
}
@keyframes top-bottom-left {
  0%, 100% {
    transform: translateX(-40vh) translateY(-30%);
  }
  50% {
    transform: translateX(-40vh) translateY(-10%);
  }
}
@keyframes vip {
  0%, 100% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
}
section.phone div.phone-inner div.coin1 {
  display: inline-block;
  animation: top-bottom-right 3s ease-in-out infinite;
}
section.phone div.phone-inner div.phone {
  display: inline-block;
  animation: vip 4s ease-in-out infinite;
}
section.phone div.phone-inner div.coin2 {
  display: inline-block;
  animation: top-bottom-left 4s ease-in-out infinite;
}

.reveal [class*=reveal-] {
  opacity: 0;
  transform: translateY(30px);
}

.reveal-visible [class*=reveal-] {
  opacity: 1;
  transform: translateY(0);
  transition: 0.8s cubic-bezier(0.5, 0, 0, 1);
}

.reveal-visible .reveal-2 {
  transition-delay: 0.15s;
}

.reveal-visible .reveal-3 {
  transition-delay: 0.25s;
}

.reveal-visible .reveal-4 {
  transition-delay: 0.35s;
}

.reveal-visible .reveal-5 {
  transition-delay: 0.45s;
}

.reveal-visible .reveal-6 {
  transition-delay: 0.55s;
}

.reveal-visible .reveal-7 {
  transition-delay: 0.65s;
}

.reveal-visible .reveal-8 {
  transition-delay: 0.75s;
}

.reveal-visible .reveal-9 {
  transition-delay: 0.85s;
}

section.slider div.slider-inner {
  height: 100%;
  margin: 5vh auto;
  padding: 0 5%;
  max-width: 1500px;
  max-height: 830px;
}
section.slider div.slider-inner div.slider-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  border: 5px solid transparent;
  border-top-color: #4A4341;
  border-right-color: #4A4341;
  border-left-color: #4A4341;
  border-radius: 20px;
}
section.slider div.slider-inner div.slider-header img {
  width: 100%;
  height: 100%;
  transition: 0.2s;
}
section.slider div.slider-inner div.slider-body {
  display: flex;
  justify-content: space-around;
  gap: 0 20px;
  padding-top: 10px;
}
section.slider div.slider-inner div.slider-body div.slider-body-item {
  flex: 0 0 25%;
  max-width: 25%;
  text-align: center;
  cursor: pointer;
  transition: background 0.2s;
}
section.slider div.slider-inner div.slider-body div.slider-body-item:hover .content {
  border-radius: var(--radius-xl, 12px);
  background: rgba(32, 26, 24, 0.41);
}
section.slider div.slider-inner div.slider-body div.slider-body-item.active .content {
  border-radius: var(--radius-xl, 12px);
  background: #201A18;
}
section.slider div.slider-inner div.slider-body div.slider-body-item.active .content::before {
  border-radius: var(--radius-lg, 10px);
  background: var(--Gradiant, linear-gradient(90deg, #FA9E13 0.1%, #FFC701 99.92%));
}
section.slider div.slider-inner div.slider-body div.slider-body-item .content {
  display: inline-block;
  margin-top: 20px;
  height: 100%;
  position: relative;
  padding: var(--spacing-xl, 16px) var(--spacing-lg, 12px);
}
section.slider div.slider-inner div.slider-body div.slider-body-item .content::before {
  content: "";
  position: absolute;
  top: -2vh;
  right: 0;
  width: 100%;
  height: 2px;
  border-radius: var(--radius-lg, 10px);
  background: #8B7F7F;
}
section.slider div.slider-inner div.slider-body div.slider-body-item .content h4 {
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}
section.slider div.slider-inner div.slider-body div.slider-body-item .content p {
  color: #8B7F7F;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

section.features div.features-inner {
  display: block;
  height: 100%;
  margin: 0 0 1vh 0;
}
section.features div.features-inner div.features__header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.features div.features-inner div.features__header h2 {
  color: #FFF;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.72px;
  margin-top: 10px;
}
section.features div.features-inner div.features__header p {
  max-width: 60%;
  color: #8B7F7F;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

section.payment div.payment-inner {
  margin: 0 0 5vh 0;
  padding: 10vh 10%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
section.payment div.payment-inner div.mask {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 50%;
  opacity: 0.2;
  background: url("images/Backgrounds/HomeMask.png");
}
section.payment div.payment-inner div.blur {
  position: absolute;
  top: 40%;
  right: 95%;
  width: 30%;
  height: 30%;
  opacity: 0.8;
  background: var(--Gradiant, linear-gradient(90deg, #FA9E13 0.1%, #FFC701 99.92%));
  filter: blur(110px);
}
section.payment div.payment-inner div.payment__header {
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}
section.payment div.payment-inner div.payment__header h2 {
  color: #FFF;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.72px;
  margin-top: 10px;
}
section.payment div.payment-inner div.payment__header p {
  max-width: 80%;
  color: #8B7F7F;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
section.payment div.payment-inner div.payment__body {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 8vh;
  gap: 0 30px;
}
section.payment div.payment-inner div.payment__body div.payment-item {
  z-index: 1;
  background: #0F0B0A;
  border-radius: 10px;
  padding: var(--spacing-7xl, 64px) var(--spacing-4xl, 32px) 32px var(--spacing-4xl, 32px);
  gap: var(--spacing-2xl, 20px);
  align-self: stretch;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border: 1px solid #4A4341;
}
section.payment div.payment-inner div.payment__body div.payment-item.active {
  background: var(--Gradiant, linear-gradient(90deg, #FA9E13 0.1%, #FFC701 99.92%));
}
section.payment div.payment-inner div.payment__body div.payment-item.active div.payment-item-body h6 {
  color: #1F1714;
  font-size: 20px;
}
section.payment div.payment-inner div.payment__body div.payment-item.active div.payment-item-body h6 span {
  display: inline-flex;
  padding: var(--spacing-xs, 4px) var(--spacing-lg, 12px);
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-full, 9999px);
  background: #1F1714;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
section.payment div.payment-inner div.payment__body div.payment-item.active div.payment-item-body h2 {
  color: #1F1714;
}
section.payment div.payment-inner div.payment__body div.payment-item.active div.payment-item-footer p {
  color: #1F1714;
}
section.payment div.payment-inner div.payment__body div.payment-item div.payment-item-body h6 {
  color: #8B7F7F;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}
section.payment div.payment-inner div.payment__body div.payment-item div.payment-item-body h2 {
  color: #FFF;
  text-align: center;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.96px;
}
section.payment div.payment-inner div.payment__body div.payment-item div.payment-item-body h2:nth-child(2) {
  font-size: 32px;
}
section.payment div.payment-inner div.payment__body div.payment-item div.payment-item-body small {
  color: rgb(85, 85, 85);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 12px;
}
section.payment div.payment-inner div.payment__body div.payment-item div.payment-item-footer p {
  margin-top: 20px;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
}

section.affiliation div.affiliation-inner {
  height: 100%;
  margin-top: 5vh;
  padding: 20px 0;
}
section.affiliation div.affiliation-inner svg {
  stroke-width: 2px;
  stroke: var(--Gradiant, #FA9E13);
  filter: blur(5px);
}
section.affiliation div.affiliation-inner div.affiliation__header {
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8vh;
}
section.affiliation div.affiliation-inner div.affiliation__header h2 {
  color: #FFF;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.72px;
  margin-top: 10px;
  margin-bottom: 10px;
}
section.affiliation div.affiliation-inner div.affiliation__header p {
  max-width: 65%;
  color: #8B7F7F;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
section.affiliation div.affiliation-inner div.affiliation__body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0 50px;
  padding: 0 5%;
}
section.affiliation div.affiliation-inner div.affiliation__body div.affiliation-body-chart {
  flex: 0 0 50%;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.affiliation div.affiliation-inner div.affiliation__body div.affiliation-body-chart img {
  width: 100%;
  height: auto;
  max-width: 550px;
  max-height: 550px;
}
section.affiliation div.affiliation-inner div.affiliation__body div.affiliation-body-cards {
  flex: 0 0 50%;
  max-width: 50%;
}
section.affiliation div.affiliation-inner div.affiliation__body div.affiliation-body-cards div.affiliation-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--spacing-3xl, 24px);
}
section.affiliation div.affiliation-inner div.affiliation__body div.affiliation-body-cards div.affiliation-card-container div.affiliation-card-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 33.33%;
  border-radius: var(--radius-md, 8px);
  background: #1F1714;
  padding: var(--spacing-xl, 16px);
  gap: var(--spacing-xl, 16px);
}
section.affiliation div.affiliation-inner div.affiliation__body div.affiliation-body-cards div.affiliation-card-container div.affiliation-card-item h5 {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
}
section.affiliation div.affiliation-inner div.affiliation__body div.affiliation-body-cards div.affiliation-card-container div.affiliation-card-item p {
  color: #8B7F7F;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
section.affiliation div.affiliation-inner div.affiliation__body div.affiliation-body-cards a {
  margin-top: 30px;
  display: inline-flex;
  padding: var(--spacing-lg, 12px) 18px;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-sm, 6px);
  border-radius: var(--radius-md, 8px);
  border: 1px solid var(--Gradiant, #FA9E13);
  background: var(--Gradiant, linear-gradient(90deg, #FA9E13 0.1%, #FFC701 99.92%));
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: #1F1715;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  transition: 0.2s;
}
section.affiliation div.affiliation-inner div.affiliation__body div.affiliation-body-cards a:hover {
  transform: scale(0.95);
}

section.faq div.faq-inner {
  padding: 0 10%;
}
section.faq div.faq-inner div.faq__header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20vh;
  margin-bottom: 5vh;
}
section.faq div.faq-inner div.faq__header h2 {
  color: #FFF;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.72px;
  margin-top: 10px;
}
section.faq div.faq-inner div.faq__header p {
  max-width: 60%;
  color: #8B7F7F;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
section.faq div.faq-inner div.faq__body {
  display: flex;
  justify-content: center;
  padding: 0 20%;
  flex-direction: column;
}
section.faq div.faq-inner div.faq__body div.faq-question-item {
  border-bottom: 1px solid #4A4341;
  margin-bottom: 20px;
  transition: 0.2s;
}
section.faq div.faq-inner div.faq__body div.faq-question-item:nth-child(9) {
  border: none;
}
section.faq div.faq-inner div.faq__body div.faq-question-item div.faq-question-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
section.faq div.faq-inner div.faq__body div.faq-question-item div.faq-question-item-header button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: 0.2s;
  background: none;
  border: none;
}
section.faq div.faq-inner div.faq__body div.faq-question-item div.faq-question-item-header button h6 {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
section.faq div.faq-inner div.faq__body div.faq-question-item div.faq-question-item-footer {
  padding-bottom: 20px;
  transition: 0.2s;
}
section.faq div.faq-inner div.faq__body div.faq-question-item div.faq-question-item-footer p {
  color: #8B7F7F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  max-width: 95%;
}
section.faq div.faq-inner div.faq__footer {
  margin: 20px 10%;
  display: flex;
  padding: var(--spacing-4xl, 32px) var(--spacing-4xl, 32px) var(--spacing-5xl, 40px) var(--spacing-4xl, 32px);
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-4xl, 32px);
  align-self: stretch;
  border-radius: var(--spacing-xl, 16px);
  background: #1F1715;
}
section.faq div.faq-inner div.faq__footer h3 {
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}
section.faq div.faq-inner div.faq__footer p {
  color: #8B7F7F;
  text-align: center;
  width: 85%;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
section.faq div.faq-inner div.faq__footer a {
  display: flex;
  padding: var(--spacing-lg, 12px) 18px;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-sm, 6px);
  border-radius: var(--radius-md, 8px);
  border: 1px solid var(--Gradiant, #FA9E13);
  background: var(--Gradiant, linear-gradient(90deg, #FA9E13 0.1%, #FFC701 99.92%));
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: #1F1715;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  transition: 0.3s;
}
section.faq div.faq-inner div.faq__footer a:hover {
  transform: scale(0.98);
}

.faq-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.faq-toggle-button img {
  display: inline-block;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.faq-toggle-button.open img {
  animation: rotate 0.4s ease-in-out;
  transform: rotate(360deg);
}

.faq-question-item-footer {
  max-height: 1px;
}

.faq-question-item-footer p {
  opacity: 0;
  transition: 0.4s;
}

.faq-question-item-footer.open {
  max-height: 500px;
}
.faq-question-item-footer.open p {
  opacity: 1;
}

section.resellers div.resellers-inner {
  margin-top: 10vh;
  position: relative;
  margin-bottom: 50px;
}
section.resellers div.resellers-inner div.blur {
  z-index: 0;
  position: absolute;
  top: 40%;
  left: 85%;
  width: 50%;
  height: 50%;
  opacity: 0.7;
  background: var(--Gradiant, linear-gradient(90deg, #FA9E13 0.1%, #FFC701 99.92%));
  filter: blur(110px);
}
section.resellers div.resellers-inner div.resellers__header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.resellers div.resellers-inner div.resellers__header h2 {
  color: #FFF;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.72px;
  margin-top: 10px;
}
section.resellers div.resellers-inner div.resellers__header p {
  max-width: 65%;
  color: #8B7F7F;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
section.resellers div.resellers-inner div.resellers__body {
  margin-top: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
}
section.resellers div.resellers-inner div.resellers__body div.resellers-body-content {
  flex: 0 0 60%;
  max-width: 60%;
}
section.resellers div.resellers-inner div.resellers__body div.resellers-body-content h2 {
  color: #FFF;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  margin-bottom: 10px;
}
section.resellers div.resellers-inner div.resellers__body div.resellers-body-content p {
  color: #8B7F7F;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 10px;
}
section.resellers div.resellers-inner div.resellers__body div.resellers-body-content ul {
  padding-left: 20px;
}
section.resellers div.resellers-inner div.resellers__body div.resellers-body-content ul li {
  display: flex;
  align-items: center;
  gap: 0 10px;
  color: #8B7F7F;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  margin-bottom: 10px;
}
section.resellers div.resellers-inner div.resellers__body div.resellers-body-content a {
  margin-top: 10px;
  display: inline-flex;
  padding: var(--spacing-lg, 12px) 18px;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-sm, 6px);
  border-radius: var(--radius-md, 8px);
  border: 1px solid var(--Gradiant, #FA9E13);
  background: var(--Gradiant, linear-gradient(90deg, #FA9E13 0.1%, #FFC701 99.92%));
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: #1F1715;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  transition: 0.3s;
}
section.resellers div.resellers-inner div.resellers__body div.resellers-body-content a:hover {
  transform: scale(0.98);
}
section.resellers div.resellers-inner div.resellers__body div.resellers-body-image {
  flex: 0 0 40%;
  max-width: 40%;
}
section.resellers div.resellers-inner div.resellers__body div.resellers-body-image img {
  width: 100%;
  height: 100%;
}

footer {
  z-index: 1000;
  background: #0F0B0A;
  border-top: 1px solid #4A4341;
  padding: 60px 10%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
footer div.footer-header {
  margin-bottom: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
}
footer div.footer-header div.footer-credit {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px 0;
}
footer div.footer-header div.footer-credit img {
  width: 48px;
  height: 48px;
}
footer div.footer-header div.footer-credit nav.footer-credit-nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
}
footer div.footer-header div.footer-credit nav.footer-credit-nav a {
  color: #8B7F7F;
  font-weight: 600;
  font-size: 16px;
  transition: color 0.4s;
}
footer div.footer-header div.footer-credit nav.footer-credit-nav a:hover {
  color: #fff !important;
}
footer div.footer-header ul.footer-social {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 15px 0;
}
footer div.footer-header ul.footer-social li a {
  display: flex;
  align-items: center;
  gap: 0 10px;
  color: #8B7F7F;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
footer div.footer-header ul.footer-social li a img {
  width: 24px;
  height: 24px;
}
footer div.footer-footer {
  border-top: 1px solid #4A4341;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
footer div.footer-footer p {
  color: #8B7F7F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
footer div.footer-footer nav {
  margin-top: 10px;
  gap: 0 20px;
  display: flex;
  justify-content: space-between;
}
footer div.footer-footer nav a {
  color: #8B7F7F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  transition: color 0.4s !important;
}
footer div.footer-footer nav a:hover {
  color: #fff;
}

p.important {
  font-weight: 800 !important;
  color: #dcd8d8 !important;
}

.pad-15 {
  padding: 10px 15px;
}

section.section.legals div.legals-inner div.legals__header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.section.legals div.legals-inner div.legals__header h2 {
  color: #FFF;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.72px;
  margin-top: 10px;
}
section.section.legals div.legals-inner div.legals__header p {
  max-width: 65%;
  color: #8B7F7F;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
section.section.legals div.legals-inner div.legals__body {
  padding: 50px 10%;
}
section.section.legals div.legals-inner div.legals__body .item {
  padding: 15px 0;
}
section.section.legals div.legals-inner div.legals__body .item h3 {
  color: #FFF;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 45px */
  letter-spacing: -0.6px;
}
section.section.legals div.legals-inner div.legals__body .item h4 {
  color: #FFF;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 45px */
  letter-spacing: -0.6px;
}
section.section.legals div.legals-inner div.legals__body .item h5 {
  margin: 10px 0;
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 45px */
  letter-spacing: -0.6px;
}
section.section.legals div.legals-inner div.legals__body .item p {
  color: #8B7F7F;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  letter-spacing: -0.4px;
}
section.section.legals div.legals-inner div.legals__body .item ul li {
  list-style: circle;
  color: #8B7F7F;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  letter-spacing: -0.4px;
}

body, section {
  overflow-x: hidden;
}

@media screen and (max-width: 1300px) {
  section.faq div.faq-inner div.faq__footer {
    margin: 20px 0;
  }
  section.faq div.faq-inner div.faq__body {
    padding: 0 5%;
  }
}
@media screen and (max-width: 1000px) {
  section.home div.home-inner div.home-container p {
    width: 100%;
  }
  section.payment div.payment-inner {
    margin-top: 20px;
  }
  section.features div.features-inner {
    height: auto;
  }
  section.features div.features-inner div.features__body section.slider div.slider-inner div.slider-body {
    flex-direction: column;
  }
  section.features div.features-inner div.features__body section.slider div.slider-inner div.slider-body div.slider-body-item {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 10px;
  }
  section.features div.features-inner div.features__body section.slider div.slider-inner div.slider-body div.slider-body-item div.content {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }
  section.affiliation div.affiliation-inner div.affiliation__body {
    flex-direction: column;
  }
  section.affiliation div.affiliation-inner div.affiliation__body div.affiliation-body-chart {
    flex: 0 0 100%;
    max-width: 100%;
  }
  section.affiliation div.affiliation-inner div.affiliation__body div.affiliation-body-cards {
    margin-top: 20px;
    flex: 0 0 100%;
    max-width: 100%;
  }
  section.resellers div.resellers-inner div.resellers__body {
    flex-direction: column;
  }
  section.resellers div.resellers-inner div.resellers__body div.resellers-body-content {
    flex: 0 0 100%;
    max-width: 100%;
  }
  section.resellers div.resellers-inner div.resellers__body div.resellers-body-image {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 40px;
  }
  section.faq div.faq-inner {
    padding: 0 5%;
  }
  section.payment div.payment-inner {
    padding: 15vh 2%;
    height: auto;
  }
  section.payment div.payment-inner div.payment__body {
    width: 100%;
    flex-direction: column;
  }
  section.payment div.payment-inner div.payment__body div.payment-item {
    margin-top: 30px;
    flex: 0 0 100%;
    max-width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 825px) {
  section.phone div.phone-inner {
    display: none;
  }
  body section.features div.features-inner {
    margin-top: 20px;
  }
  body section.features div.features-inner div.features__header p {
    max-width: 100% !important;
  }
  body section.payment div.payment-inner div.payment__header p {
    max-width: 100% !important;
  }
  body section.faq div.faq-inner div.faq__header p {
    max-width: 100% !important;
  }
  footer {
    padding: 50px 5%;
  }
  footer div.footer-footer nav {
    flex-direction: column;
    text-align: center;
  }
  footer div.footer-footer nav a {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  section.home div.home-inner div.home-container h1 {
    font-size: 45px;
  }
  section.home div.home-inner div.home-container a {
    text-align: center;
  }
  section.affiliation div.affiliation-inner div.affiliation__body div.affiliation-body-cards div.container a {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 550px) {
  section.home div.home-inner div.home-container div.container p {
    margin: 0 10px;
  }
  section.home div.home-inner div.home-container div.container a {
    margin: 0 10px;
  }
  footer div.footer-footer p {
    text-align: center;
  }
  footer div.footer-header {
    flex-direction: column;
    text-align: center;
  }
  footer div.footer-header div.footer-credit nav.footer-credit-nav {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}
.btn {
  display: inline-block;
  padding: 10px var(--spacing-xl, 16px);
  gap: var(--spacing-sm, 6px);
  border-radius: var(--radius-md, 8px);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.btn.btn-primary {
  background: linear-gradient(90deg, #FAB513 0.1%, #FFC301 99.92%);
  border: 2px solid #FAB513;
  color: #0F0B0A;
}
.btn.btn-primary:hover {
  background: initial;
  color: #FA9E13;
  border: 2px solid #FA9E13;
}
.btn.btn-lg {
  padding: var(--spacing-2xl, 20px) var(--spacing-3xl, 24px);
  gap: var(--spacing-sm, 6px);
  color: #1F1714;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  transition: 0.3s;
}
.btn.btn-lg:hover {
  transform: scale(0.98);
}
.btn.btn-phantom {
  border-radius: var(--radius-md, 8px);
  border: 2px solid var(--Gradiant, #FA9E13);
  color: #FA9E13;
  transition: 0.3s;
}
.btn.btn-phantom:hover {
  transform: scale(0.98);
}

.mini-btn {
  display: inline-block;
  padding: var(--spacing-xs, 4px) var(--spacing-lg, 12px);
  width: auto;
  border-radius: var(--radius-full, 9999px);
  background: #1F1714;
  border: 1px solid var(--Gradiant, #FA9E13);
  color: #FA9E13;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.mini-btn.mini-primary {
  border-radius: var(--radius-full, 9999px);
}

.payment-btn {
  display: flex;
  padding: var(--spacing-lg, 12px) 18px;
  gap: var(--spacing-sm, 6px);
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-md, 8px);
  color: #FFF;
  border: 1px solid var(--Gradiant, #FA9E13);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  transition: 0.3s;
}
.payment-btn:hover {
  transform: scale(0.98);
}

.payment-btn-phantom {
  background: #1F1714;
  border: 1px solid #1F1714;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  transition: 0.3s;
}
.payment-btn-phantom:hover {
  transform: scale(0.98);
}

/*# sourceMappingURL=application.css.map */
